<h1><%= current_user.name %></h1>   
<div class= "container">
	<ul style="list-style-type:none">
		<li>From:<%= @leave.from_date.strftime("%d-%m-%y") %></li><br>
		<li>To:<%= @leave.to_date.strftime("%d-%m-%y") %></li><br>
		<li>Type of Leave:<%= @leave.type_of_leave %></li><br>
		<li>Reason:<%= @leave.reason %></li><br>
		<li>No Of Days:<%= @leave.no_of_days %></li><br>
	</ul>
<%= link_to 'Applied Leave', leaves_path %>
</div>

