
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <div class="header">
      <%= link_to "leave management", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        
        <% if user_signed_in? %>
          <%if current_user.admin == true %>
          <li><%= link_to "Admin page", admin_path %></li>
          <% end %>
              <li>
                <%= link_to "Log out", destroy_user_session_path, :method => "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", new_user_session_path %></li>
          </ul>
        <% end %>
    </nav>
  </div>
</div>
</header>
